.footer {
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #B2F2D7;

  .logo {
    width: 120px;
    height: 28px;
    padding: 18px 40px;
  }
}