.submitButton {
  margin-top: 25px;
  margin-bottom: 13px;
  padding: 10px 16px;
  border: none;
  border-radius: 4px;
  background-color: #30b37b;
  color: white;

  &:hover {
    cursor: pointer;
    background-color: #23a36d;
  }
}