.loginLink {
  width: 75%;
  text-decoration: none;
  padding: 10px 16px;
  border: 1px solid gray;
  border-radius: 4px;
  color: black;
  text-align: center;

  &:hover {
    border: 1px solid black;
  }

  .loginLinkText{
    font-size: 13px;
  }
}