.categoriesList{
  width: 85%;
  margin-top: 50px;

  .categoriesMenu{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    .categoriesButton{
      text-decoration: none;
      width: fit-content;
      padding: 10px 16px;
      background-color: #E7FAFE;
      border: 1px solid #B2F2D7;
      border-radius: 4px;
      color: #30B37B;
      text-align: center;
      font-weight: bold;

      &:hover {
        cursor: pointer;
        background-color: #ddf1f4;
      }

      .categoriesListText{
        font-size: 13px;
      }
    }
  }

  .categoriesCardsList{
    width: 100%;
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
  }

  @media (max-width: 920px) {
    .categoriesCardsList {
      overflow-x: auto; /* Додаємо горизонтальний скрол */
      -webkit-overflow-scrolling: touch; /* Для плавного скролу на мобільних пристроях */
      padding-bottom: 10px; /* Для коректного відображення на деяких пристроях */
      flex-wrap: nowrap; /* Забороняє розрив рядків, змушує елементи бути в одному рядку */
    }
  }
}