.recipeCard{
  text-decoration: none;
  width: 350px;
  padding: 14px;
  background: linear-gradient(to bottom, #FFFFFF 10%, #d7f4f8 100%, transparent 80%);
  border-radius: 23px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  &:hover {
    background: linear-gradient(to bottom, #e9f9fc 10%, #c4e8ed 100%, transparent 80%);
  }

  .recipeCardImage{
    width: 100%;
    height: 303px;
    border-radius: 23px;
  }

  .recipeCardTitle{
    color: #181826;
    font-size: 14px
  }

  .recipeCardText{
    color: #4A4A6A;
  }

  .cardInfo{
    height: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;

    .recipeCardIcons{
      width: 16px;
      height: auto;
      border-radius: 0;
    }
  }
}


