* {
  margin: 0;
  font-family: Roboto, sans-serif;
}

:root {
  height: 100vh;
  overflow: hidden;
}

.register-background {
  height: 100vh;
  width: 100%;
  background: linear-gradient(to right, #e7fafe 25%, transparent 80%),
  url("/images/register-background-image.png");
  background-repeat: no-repeat;
  background-position: right;
}

.register-page {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
