.recipesList {
  margin-top: 50px;
  width: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;

  .recipesListTitle {
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 15px;

    .recipesListDescription {
      color: #00000099;
    }
  }

  .recipesCardsList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }

  .recipesLink {
    width: 20%;
    text-decoration: none;
    padding: 10px 16px;
    background-color: #30b37b;
    border: none;
    border-radius: 4px;
    color: white;
    text-align: center;
    font-weight: bold;

    &:hover {
      background-color: #23a36d;
    }

    p {
      font-size: 13px;
    }
  }
}

@media (max-width: 920px) {
  .recipesList{
    .recipesListTitle{
      width: 100%;
    }
  }
}

