.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 40px;
  width: 240px;

  .pagination__button {
    margin: 0 5px;
    width: 26px;
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
    font-size: 13px;
    color: #1a1a43;


    &:hover {
      box-shadow: 0px 1px 4px 0px rgba(26, 26, 67, 0.1);
      border-radius: 4px;
    }
  }

  .pagination__button.active {
    font-weight: bold;
    box-shadow: 0px 1px 4px 0px rgba(26, 26, 67, 0.1);
    border-radius: 4px;
    color: #006bb3;

  }

  .pagination__button:disabled {
    cursor: not-allowed;
    color: #6c757d;
  }
}





