label {
  width: 100%;
  font-size: 12px;
  color: #32324d;
  display: flex;
  flex-direction: column;
  font-weight: bold;
}

  input {
    padding: 10px 16px;
    border: 1px solid gainsboro;
    border-radius: 4px;
    padding-right: 40px;
  }