.authorizedMenu {
  width: 20%;
  padding: 18px 40px;
  display: flex;
  justify-content: right;
  gap: 20px;
  align-items: center;

  .username{
    font-size: 16px;
    color: #32324D;
  }

  .userAvatar{
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
}

@media (max-width: 940px) {
  .authorizedMenu{
    width: 20%;

    .userAvatar{
      display: none;
    }
  }
}