.authorizedMenu {
  width: 7%;
  padding: 18px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .username{
    font-size: 16px;
    color: #32324D;
  }

  .userAvatar{
    width: 32px;
    border-radius: 50%;
  }
}