.unautorizedMenu {
  height: 100%;
  width: 200px;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 8px;
  margin-right: 40px;

  .registerLink {
    border: 1px solid #B2F2D7;
    background-color: #E7FAFE;
    color: #30B37B;
    font-weight: bold;

    &:hover {
      background-color: #ddf1f4;
    }
  }

  .loginLink {
    border: none;
    background-color: #30B37B;
    color: white;
    font-weight: bold;

    &:hover {
      background-color: #23a36d;
    }
  }
}