 a{
    width: 75%;
    text-decoration: none;
  }

  .registerLink {
    padding: 10px 16px;
    border: 1px solid gray;
    border-radius: 4px;
    color: black;
    text-align: center;

    p{
      font-size: 13px;
    }
}