.recipesList {
  margin-top:20px;
  width: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;

.menuContainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;

}
  .recipesCardsList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }

  .recipesLink {
    width: 20%;
    text-decoration: none;
    padding: 10px 16px;
    background-color: #30b37b;
    border: none;
    border-radius: 4px;
    color: white;
    text-align: center;
    font-weight: bold;

    &:hover {
      background-color: #23a36d;
    }

  }
}

@media (max-width: 768px) {
  .menuContainer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
 }
}
