.aboutUsCover{
  margin-top: 50px;
  margin-bottom: 40px;
  width: 85%;
  background: linear-gradient(to right, #e7fafe 45%, transparent 80%),
  url("/images/aboutUsImage.png");
  background-repeat: no-repeat;
  background-position: right;
  border-radius: 30px;

  .aboutUsInfo{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 40%;
    margin: 110px 0 110px 100px;

    .aboutUsText{
      color: #00000099;
    }

    .recipesLink {
      width: 40%;
      text-decoration: none;
      padding: 10px 16px;
      background-color: white;
      border: 1px solid #8e8c8c;
      border-radius: 4px;
      color: black;
      text-align: center;
      font-weight: bold;

      &:hover {
        border: 1px solid #000000;
        background-color: #f6f3f3;
      }

      .recipesLinkText{
        font-size: 13px;
      }
    }
  }
}

@media (max-width: 920px) {
  .aboutUsCover{
    background: linear-gradient(to bottom, #e7fafe 35%, transparent 80%),
    url("/images/aboutUsImage.png");
    background-position: top center;
    background-size: auto;
    display: flex;
    align-items: center;
    justify-content: center;

    .aboutUsInfo{
      width: 80%;
      margin: 20px 0 80px 0;
    }
  }
}